.plate {
    color: #ffffff;
    background: #10243a;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

img.disabled {
    opacity: 0.5;
}


.loadingModal {
    display: none;
    position: fixed;
    z-index: 300;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 ) url('../img/loading.gif') 50% 50% no-repeat;
}

body.loading .loadingModal {
    overflow: hidden;
    display: block;
    z-index:300;
}


.tabRegion {
    overflow-y: auto;
    overflow-x: hidden;
    text-align: left;
    font-size: 11px;
    padding: 3px;
    background-clip: padding-box;
    border-bottom: 1px solid #ced4da;
    border-left: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
    height: 550px;
    width: 100%;
}

.summaryTableHeaderRow {
    background-color: #f1f1f1;
    font-weight: bold;
    font-size: 18px;
    text-align: right;
}
.summaryTable {
    background-color: #f1f1f1;
    padding: 6px;
    width:90%;
}

    .summaryTable td {
        background-color: #f1f1f1;
        border: 1px solid #d3d3d3;
        padding: 6px;
        text-align: right;
    }

.orderSummary {
    position: absolute;
    bottom: 300px;
    right: -430px;
    z-index: 0;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    height: 400px;
    width: 650px;
    padding: 10px;
    text-align: center;
    overflow-y: auto;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.orderSummaryHeader {
    position: absolute;
    bottom: 700px;
    right: -430px;
    padding: 10px;
    cursor: move;
    z-index: 1;
    background-color: #007bff;
    text-align: center;
    color: #fff;
    height: 50px;
    width: 650px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    font-weight: bold;
    font-size: 18px;
}


table {
    font-family: 'Calibri';
    font-size: 15px;
    background-color: #fff;
    color: #333;
}

.errorHeader {
    overflow-y: auto;
    height: 40px;
    max-height: 30px;
    text-align: left;
    font-size: 11px;
}

.errorStackTrace {
    overflow-y: auto;
    height: 200px;
    max-height: 100px;
    text-align: left;
    font-size: 11px;
}

.grid-header-style {
    background-color: #8a8888;
    color: #333;
    font-family: 'Calibri';
    font-size: 15px;
    font-weight:bold;
}


.modal-90w {
    width: 1000px;
    max-width: none !important;
}

.modal-300p {
    width: 300px;
    max-width: 300px;
}

.modal-header {
    background-color: #333;
    color: #fff;
}

.modal-disabled {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #e9ecef;
    opacity: 1;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.react-bootstrap-table-page-btns-ul {
    float: right;
    margin-top: 0px;
}

.react-bootstrap-table-pagination-list-hidden {
    display: none;
}
.react-bootstrap-table table {
    table-layout: fixed
}

.react-bootstrap-table th.sortable {
    cursor: pointer
}

.react-bootstrap-table th .order > .dropdown > .caret {
    margin: 10px 0 10px 5px;
    color: #ccc
}

.react-bootstrap-table th .order > .dropup > .caret {
    margin: 10px 0;
    color: #ccc
}

.react-bootstrap-table th > .react-bootstrap-table-sort-order > .caret {
    margin: 10px 6.5px
}

.react-bootstrap-table th .order-4:before {
    margin-left: 3.5px;
    content: "\2191";
    opacity: .4
}

.react-bootstrap-table th .order-4:after {
    content: "\2193";
    opacity: .4
}

.react-bootstrap-table th .caret-4-asc:before {
    margin-left: 3.5px;
    content: "\2191"
}

.react-bootstrap-table th .caret-4-asc:after {
    content: "\2193";
    opacity: .4
}

.react-bootstrap-table th .caret-4-desc:before {
    margin-left: 3.5px;
    content: "\2191";
    opacity: .4
}

.react-bootstrap-table th .caret-4-desc:after {
    content: "\2193"
}

.react-bootstrap-table th[data-row-selection] {
    width: 30px
}

.react-bootstrap-table td > .selection-input-4, .react-bootstrap-table th > .selection-input-4 {
    margin: -4px
}

.react-bootstrap-table td.react-bs-table-no-data {
    text-align: center
}

.react-bootstrap-table tr.expanding-row {
    padding: 5px
}

.react-bootstrap-table td.react-bootstrap-table-editing-cell .animated {
    animation-fill-mode: both
}

    .react-bootstrap-table td.react-bootstrap-table-editing-cell .animated.bounceIn, .react-bootstrap-table td.react-bootstrap-table-editing-cell .animated.bounceOut {
        animation-duration: .75s
    }

    .react-bootstrap-table td.react-bootstrap-table-editing-cell .animated.shake {
        animation-duration: .3s
    }

@keyframes shake {
    from,to {
        transform: translate3d(0,0,0)
    }

    10%,50%,90% {
        transform: translate3d(-10px,0,0)
    }

    30%,70% {
        transform: translate3d(10px,0,0)
    }
}

.react-bootstrap-table td.react-bootstrap-table-editing-cell .shake {
    animation-name: shake
}

@keyframes bounceIn {
    20%,40%,60%,80%,from,to {
        animation-timing-function: cubic-bezier(.215,.61,.355,1)
    }

    0% {
        opacity: 0;
        transform: scale3d(.3,.3,.3)
    }

    20% {
        transform: scale3d(1.1,1.1,1.1)
    }

    40% {
        transform: scale3d(.9,.9,.9)
    }

    60% {
        opacity: 1;
        transform: scale3d(1.03,1.03,1.03)
    }

    80% {
        transform: scale3d(.97,.97,.97)
    }

    to {
        opacity: 1;
        transform: scale3d(1,1,1)
    }
}

.react-bootstrap-table td.react-bootstrap-table-editing-cell .bounceIn {
    animation-name: bounceIn
}

@keyframes bounceOut {
    20% {
        transform: scale3d(.9,.9,.9)
    }

    50%,55% {
        opacity: 1;
        transform: scale3d(1.1,1.1,1.1)
    }

    to {
        opacity: 0;
        transform: scale3d(.3,.3,.3)
    }
}

.react-bootstrap-table td.react-bootstrap-table-editing-cell .bounceOut {
    animation-name: bounceOut
}

.b-select {
    padding: 5px 15px;
    background-color: white;
    border: 0;
    outline: none;
    font-size: 15px;
    -webkit-appearance: none; /* for webkit browsers */
    -moz-appearance: none; /* for firefox */
    /*appearance: none; /* for modern browsers */
}

/* remove default caret for ie */
.b-select::-ms-expand {
    display: none;
}
.b-select-wrap {
    color: #1092C9;
    overflow: hidden;
    position: relative;
    /*border-radius: 3px;*/
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.b-select-wrap::after {
        
    background-color: #ced4da;
    content: "⌄";
    position: absolute;
    right: 5px;
    top: -8px;
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;
    pointer-events: none;
    font-size: 25px;
}

.maincontent {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    
}

.maincontent-main {
    flex: 1;
}

/* not important */
body {
    margin: 0;
}

header {
    height:10vh;
    background-color: black;
}

main {
    background-color: white;
}

footer {
    height: 10vh;
    background-color: black;
}

.dashboard {
    margin: 0 auto; /* Center the DIV horizontally */
    width: 100%;
    min-height: 80vh;
    border: 1px solid lightgray;
}

.dbrdMenuCol {
    float: left;
    width: 18%;
    padding: 0 10px;
    min-height: 80vh;
    max-height:80vh;
    background-color:whitesmoke ;
    overflow:auto;
}

.dbrdColumn {
    float: left;
    padding: 5px 10px;
    min-height: 80vh;
    max-height: 80vh;
    background-color: whitesmoke;
    overflow: auto;
    width:82%;
}

.dbInnerTable {
    width: 100%;
    overflow: auto;
    height: 1000px;
    text-align: left;
    padding: 20px;
    background: #99e580;
    border: 1px solid #ced4da;
}

.dbColDiv {
    border: 1px solid #ced4da;
    padding: 0px;
}

.listCap
{
    text-align: center;
    font-size:20px;
    color:dimgray;
}

.invMergeTop {
    width: 100%;
    height: 140px;
    background-color: whitesmoke;
    border: 1px solid #ced4da;
    padding:10px;
}

.invMergeSides {
    width: 50%;
    height: 540px;
    background-color: whitesmoke;
    border: 1px solid #ced4da;
    float: left;
    overflow: auto;
}

.invMergeCenter {
    width: 10%;
    height: 540px;
    background-color: whitesmoke;
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    float: left;
    vertical-align: middle;
    text-align:center;
}
.invMergeCenter img {
    border: 1px solid #ced4da;
}

.orderCap {
    text-align: center;
    font-size: 20px;
    color: dimgray;
}

.mergeOrderCard
{
    width:98%;
    cursor:pointer;
}

.mergeOrderHostDiv
{
    padding:20px;
    width: 100%;
    text-align:center;
    
}