
@{
    ViewBag.Title = "Maestro - Main Menu";
    Layout = "~/Views/Layouts/_MainLayout.cshtml";
}

<div id="maestroPage" class="container" style="text-align:center">
    <div id="wait" class="active" style="display:none;vertical-align:middle;height:100vh ">
        <img src="/img/please-wait.gif" />
    </div>
    <div id="mainMenu" class="container"></div>
    <div id="content" class="container"></div>
</div>


@System.Web.Optimization.Scripts.Render("~/Scripts/js/maestro.js")

