<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title -  © Koenig 2019 </title>

    @RenderSection("head", required: false)

    <link href="~/Scripts/dist/maestro.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
    <script id="__bs_script__">
                //<![CDATA[
                //document.write("<script async src='http://HOST:3002/browser-sync/browser-sync-client.js?v=2.26.3'><\/script>".replace("HOST", location.hostname));
//]]></script>
    <script src="~/Scripts/dist/maestroBundle.js"></script>

</body>
</html>
